<div class="flex justify-between align-center">
    <h2 class="text-xl font-bold mb-4">Add Transaction</h2>
   <mat-icon (click)="close()" class="cursor-pointer" mat-icon-button>close</mat-icon>
</div>

<form [formGroup]="form" (ngSubmit)="submit()" class="grid grid-cols-1 gap-4">

    <mat-form-field appearance="outline">
        <mat-label>Date</mat-label>
        <input matInput type="date" formControlName="date">
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Type</mat-label>
        <mat-select formControlName="type">
            <mat-option value="Credit">Credit</mat-option>
            <mat-option value="Debit">Debit</mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Amount</mat-label>
        <input matInput type="number" formControlName="amount">
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Description</mat-label>
        <input matInput formControlName="description">
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Status</mat-label>
        <mat-select formControlName="status">
            <mat-option value="Pending">Pending</mat-option>
            <mat-option value="Success">Success</mat-option>
            <mat-option value="Failed">Failed</mat-option>
        </mat-select>
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit">
        Add Transaction
    </button>

</form>