<div class="flex justify-between align-center">
    <h2 class="text-xl font-bold mb-4">Add Transfer</h2>
   <mat-icon (click)="close()" class="cursor-pointer" mat-icon-button>close</mat-icon>
</div>

<form [formGroup]="form" (ngSubmit)="createTransfer()" class="space-y-4 p-4">

  <mat-form-field appearance="outline" class="w-full">
    <mat-label>From Account</mat-label>
    <input matInput placeholder="From Account" formControlName="fromAccount">
  </mat-form-field>

  <mat-form-field appearance="outline" class="w-full">
    <mat-label>To Account</mat-label>
    <input matInput placeholder="To Account" formControlName="toAccount">
  </mat-form-field>

  <mat-form-field appearance="outline" class="w-full">
    <mat-label>Amount</mat-label>
    <input matInput type="number" placeholder="Amount" formControlName="amount">
  </mat-form-field>

  <mat-form-field appearance="outline" class="w-full">
    <mat-label>Remarks</mat-label>
    <input matInput placeholder="Remarks" formControlName="remarks">
  </mat-form-field>

  <button
    mat-raised-button
    color="primary"
    type="submit"
    class="w-full py-2 rounded-lg shadow-md"
  >
    Create Transfer
  </button>

</form>
